<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    
    <body class= "main">
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>
            <h1 style= "color: blue" class="title">WORK FROM ANYWHERE</h1>
            <h2 style= " color: purple" class="subtitle">Hello</h2>
            <a href="/auth/signup"><button class="button">SIGN-UP</button></a>
            <a href="/auth/login"><button class="button">LOG-IN</button></a>
        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>